@font-face {
    font-family: 'metropolismedium';
    src: url('metropolis-medium-webfont.woff2') format('woff2'), url('metropolis-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container{
    width: 100%;
    height:100%;
}

body {
    margin: 0;
    padding-top: 50px;
}

.fontcustomize {
    background: none;
    color: white;
    font-family: 'metropolismedium', sans-serif;
}

#aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.background {
    position: fixed;
}

#home {
    clip-path: url(#cache);
}

.down-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    left: calc(50% + 1rem);
}

.down-button {
    animation-name: fadeInUp;
    animation-fill-mode: both;
    animation-duration: .8s;
    animation-delay: 1s;
    padding-top: 10px;
    border: 20px;
}

.aboutcontainer {
    justify-content: center;
    align-items: center;
    margin-right: 10rem;
    margin-left: 6rem;
    width: 100%;
    height: 40vw;
}

.pic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .5rem;
    margin-left: 6.5rem;
}

#homepic {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
}

.mySlides {
    max-height: 432px;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.intro {
    font-size: 3.5vw;
}

.paragraph {
    font-size: 1.75vw;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/*picture move to the right*/

@media only screen and (max-width: 1200px) {
    .pic-container{
        margin-left: 6.5rem;
        margin-right: 0.5rem;
    }
    #aboutme {
        justify-content: left;
        max-width: 1000px;
    }
    .homepic{
        align-items: left;
        justify-content: left;
        text-align:left;
    }
    .about-container {
        max-width: 1000px;
    }
    .homepic{
        justify-content: left;
    }

    .intro {
        font-size: 45px;
    }
    
    .paragraph {
        font-size: 20px;
    }


}


/*wrap around text*/

@media only screen and (max-width: 1086px) {
    #aboutme {
        margin-right: 5rem;
    }
    .down-button{
        display:none;
    }
    .aboutcontainer{
        padding-bottom: 10rem;
    }
}


@media only screen and (max-width: 600px) {
    #aboutme {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: static;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    #homepic {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: static;
    }
    .pic-container {
        max-width: 768px;
        margin-left: .5rem;
    }
    .aboutcontainer {
        margin: 0;
    }
    .intro{
        font-size: 35px;
    }
    .paragraph{
        font-size: 15px;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}